.about{
	img{
		width: 100%;
		height: 240px;
	}

	h2{
		background-color:#E8663c;
		color: white;
		padding:1%;
	}
	p{
		padding: 2%;
	}
	h4{
		color: #E8663c;
	}
	.p-naranjo{
		p{
			color: #E8663c;
			border-left: 3px solid #E8663c;
		}
	}
	.cuadrados{
		width: 70px;
		height: 70px;
		padding:1%;

	}

}